# qqbot config
NAPCAT_WS_URL=ws://127.0.0.1:3001
NAPCAT_ACCESS_TOKEN=

# log config
BOT_LOG_DIR=log
BOT_LOG_FILE=bot.log
BOT_LOG_LEVEL=INFO
MESSAGE_LOG_DIR=log
MESSAGE_LOG_FILE=message.log
MESSAGE_LOG_MAX_LENGTH=500

# turtle agent config
AGENT_NAME=龟龟
AGENT_DEFAULT_MODEL=sjtu
AGENT_CONTEXT_MESSAGES=20

SJTU_BASE_URL=https://models.sjtu.edu.cn/api/v1
SJTU_API_KEY=sk-********************************
SJTU_MODEL=deepseek-reasoner

GROK_BASE_URL=https://api.x.ai/v1
GROK_API_KEY=xai-********************************
GROK_MODEL=grok-4-1-fast-non-reasoning
